:root {
    --color-dark: #31628d;
    --color-light: #527fad;
  }
  
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Helvetica";
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fefefe;
}

h1 {
    font-size: 2rem;
    margin-top: 20px;
}

section {
    height: calc(100vh - 70px);
    padding: 64px 128px;
}

.section-space {
    display: flex;
    align-items: center;
    height: 79px;
    width: 100%;
}

.section-space div {
    width: 100%;
    height: 1px;
    background-color: black;
}

.portfolio-container {
    margin: 40px;
    width: calc(100% - 80px);
    height: 100%; 
    box-shadow: 2px 1px 61px -15px rgba(0,0,0,0.9);
    -webkit-box-shadow: 2px 1px 61px -15px rgba(0,0,0,0.9);
    -moz-box-shadow: 2px 1px 61px -15px rgba(0,0,0,0.9);
}


/* About */
.s-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px

}

.socials {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 40px;
}

.socials a {
    color: black;
}

.about-text {
    
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-text h2 {
    color: var(--color-dark);
}

.about-name {
    color: var(--color-light);
    font-size: 1.2rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.s-about img {
    width: 350px;
}

#d-CV {
    width: fit-content;
    background-color: var(--color-dark);
    color: #fefefe;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    border:none;
}

@media only screen and (max-width: 900px) {
    .section-space {
        width: 80px;
    }

    .s-about {
        flex-direction: column;
        gap:20px;
        padding: 60px;
    }

    .s-about img {
        width: 200px;
    }

    .socials {
        flex-direction: row;
    }

    .about-text {
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}

/* Skills */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.skills-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    flex-wrap:wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 160px;
    height: 180px;
    padding: 30px  30px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.3);

}

.card i {
    font-size: 3rem;
}

.card .skill {
    margin-top: 20px;
}

.card .level {
    color: var(--color-dark);
}

/* Nav bar */

header {
    width: 100%;
    height: 70px;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 20px;
    text-align: center;
}

.nav-bar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-bar ul li a.active {
    background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
        color: #fefefe;
    }

    .nav-bar {
        position: absolute;
        height: 0;
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--color-dark);
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 300px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50px auto 50px auto;
        transition: 0.2s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-left: 0px;
        margin-bottom: 16px;
    }
}



